.myform{
    background: lightgray;
    width: 300px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.input-label {
    display: block;
    margin-bottom: 20px;
}

.input-label span {
    display: block;
    margin-bottom: 5px;
    
}

.error{
    color: red;
}