#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.addTask {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  align-content: center;
  margin: 10px;
}

.taskForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-size: 22px;
}
.taskForm button {
  width: 140px;
  background-color: #0d6efd;
  color: white;
  font-size: 18px;
  padding: 5px;
  border-radius: 1rem;
}
.taskForm input {
  width: 200px;
  height: 20px;
  margin-top: 10px;
}

.taskList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;      /* stretch across the row */
}

.tasksWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;     /* cross‑axis */
  justify-content: center; /* main axis */
  gap: 12px;
  width: 100%;
}

.completed {
  text-decoration: line-through;
}

.task-date {
  background-color: #ffd89a !important;
  border-radius: 8px;
}

.task-date:hover {
  background-color: #ffca6f !important;
}



/* Make the selected day always stand out */
.react-calendar__tile--active {
  border: 2px solid #0d6efd; /* blue */
  border-radius: 8px;
  background: white;          /* or whatever you like */
}

/* Optional: keep hover/focus nice too */
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #e7f1ff;
}