.navbar {
  padding: 40px;
  margin-bottom: 100px;
}
.navbar-brand { 
  font-size: 50px;
}
.navbar-nav .nav-link {
  font-size: 30px;
}

.weather-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 8px;
}
