#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.container {
  background-color: bisque;
  padding: 20px;
}

.myForm {
  font-size: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

select {
  font-size: 1.5rem;
  width: 200px;
  height: 40px;
}

.myForm input {
  flex: 0 0 auto;
}

input {
  width: 200px;
  height: 30px;
  padding: 12px 16px;
  font-size: 1.5rem;
  margin: 10px;
}

.myForm button {
  flex-basis: 100%;
  align-self: center;
}

button {
  display: flex;
  color: white;
  background-color: blue;
  align-content: center;
  align-items: center;
  justify-content: center;
  min-width: 120px;
}

.feedback {
  font-size: 10rem;
}
