#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.quote {
  text-align: start;
}

.author {
  text-align: end;
}

.btn {
  display: block;
  margin-left: auto;
}