body #root{
  display: grid;
  grid-template-columns: repeat(3, 600px);
  align-content: center;
}
.container {
  min-height: 100vh;
  grid-column: 2;
  display: block;
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdebd0;
  padding: 20px;
  margin: 10px 0;
  border: 1px solid #000;
  font-size: 1.5rem;
}

.button {
  color: green;
  font-size: 1.5rem;
}