#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.table {
  margin: 20px auto;       
  border-collapse: collapse;
  width: 70%;
  text-align: left;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.tableHead td {
  border: 1px solid #ccc;
  padding: 8px;
  font-Weight: bold;
}

.tableProducts td {
  border: 1px solid #ccc;
  padding: 8px;
}

